<div style="border-top: solid 1px #eee; padding-top: 1em;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="text-muted">Faasos | &copy;
          Copyright 2016, All Rights Reserved</p>
          <p class="text-center">
            <i class="fa fa-twitter-square fa-2x textprimary"></i>
              <i class="fa fa-facebook-square fa-2x text-primary"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
