<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>NeuProElectro</title>
  <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="/public/stylesheets/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/header-user-dropdown.css"> -->
</head>

<body>
{{> header this}}
  <div class="container">
    <div class="row">
      {{{body}}}
    </div>
  </div>
  {{> footer this}}
      <script src="/public/javascripts/jquery.min.js"></script>
      <!-- <script type="text/javascript" src="/public/js/scripts.js"></script> -->
      <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
      <!-- <script src="/public/js/typeahead.bundle.min.js"></script> -->
      <!-- <script src="/public/js/bloodhound.min.js"></script> -->
      <!-- <script src="public/js/search.js"></script> -->
    </body>
    </html>
